@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #111827;
  line-height: 1.6;
  background-color: white;
}

/* Heading Hierarchy */
h1 {
  @apply text-[32px] font-bold leading-tight;
}

h2 {
  @apply text-[28px] font-semibold leading-tight;
}

h3 {
  @apply text-[22px] font-semibold leading-snug;
}

h4 {
  @apply text-[18px] font-medium leading-normal;
}

/* Ensure all elements inherit fonts unless specifically overridden */
input,
button,
textarea,
select {
  font-family: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20 ;
  }
}